<div class="p-8 flex flex-col gap-8">
    <nav class="text-sm text-gray-800">
        <a routerLink="/shop" title="Back to the home page">Shop</a>
        <span aria-hidden="true" class="text-gray-600"> >> </span>
        <span class="font-bold">{{ product.name | titlecase }}</span>
    </nav>

    <article class="flex flex-col lg:flex-row gap-8">
        <img src="https://source.unsplash.com/random?{{product.type.name}},{{ product.category.name }}, {{ product.id }}" class="object-cover h-[50vh] flex-[6] mb-4" />

        <section class="flex-[4]">
            <header class="text-gray-600">
                <h2 class="text-2xl mt-4 text-gray-800 flex items-center gap-4">
                    {{ product.name }}

                    <button class="border-2 text-rose-800 bg-white border-rose-800 hover:bg-rose-800 hover:text-white rounded-full text-xs aspect-square w-8 transition-all duration-200 ease-in-out">
                        <fa-icon [icon]="faHeart"></fa-icon>
                    </button>
                </h2>

                <div class="flex flex-row gap-1 mt-4 w-fit">
                    <span class="mr-2">{{ product.rating }}</span>

                    <div class="flex flex-row overflow-x-hidden" [style.width]="getRating(this.product.rating, 18)">
                        <fa-icon [icon]="faStar"></fa-icon>
                        <fa-icon [icon]="faStar"></fa-icon>
                        <fa-icon [icon]="faStar"></fa-icon>
                        <fa-icon [icon]="faStar"></fa-icon>
                        <fa-icon [icon]="faStar"></fa-icon>
                    </div>

                    @if(product.inStock){
                    <span class="ml-4 text-zuccini-600">In Stock</span>
                    }
                    @else {
                    <span class="ml-4 text-rose-600">No Stock</span>
                    }
                </div>

                <p class="my-8">{{ product.description }}</p>

                <p class="text-4xl mt-4 flex flex-row items-center gap-4 ">
                    {{ getPrice() | currency }}

                    @if(discountApplied !== 0){
                    <span class="bg-rose-600 text-white text-xs rounded-lg p-2 font-bold">
                        {{ discountApplied * 100 }}% discount applied!
                    </span>
                    }
                </p>

                <div class="flex flex-row gap-4 items-center mt-8">
                    <div class="flex flex-row gap-4 border-2 border-gray-nurse-200 p-4">
                        <button class="" (click)="remove()">
                            <fa-icon [icon]="faMinus"></fa-icon>
                        </button>

                        <span contenteditable="true" class="px-2 outline-none" (input)="updateNumberOfItemsSelected($event)">{{ numberOfSelectedProducts }}</span>

                        <button class="" (click)="add()">
                            <fa-icon [icon]="faPlus"></fa-icon>
                        </button>
                    </div>

                    <button class="w-full border-2 text-zuccini-800 bg-white border-zuccini-800 hover:bg-zuccini-800 hover:text-white text-md transition-all duration-200 ease-in-out p-4 select-none" (click)="addToCart()">
                        <fa-icon [icon]="faShoppingCart" class="mr-4"></fa-icon> Add To Cart
                    </button>
                </div>
            </header>
        </section>
    </article>

    <div class="pt-4">
        <div class="flex flex-row gap-4 -mb-[1px]">
            <button class="border border-gray-nurse-200 py-2 px-4 text-sm  {{ activeTab === 'productDetails' ? 'border-b-white' : '' }}" (click)="activeTab = 'productDetails'">PRODUCT DETAILS</button>

            <button class="border border-gray-nurse-200 py-2 px-4 text-sm  {{ activeTab === 'reviews' ? 'border-b-white' : '' }}" (click)="activeTab = 'reviews'">REVIEWS</button>

            <button class="border border-gray-nurse-200 py-2 px-4 text-sm  {{ activeTab === 'shipping' ? 'border-b-white' : '' }}" (click)="activeTab = 'shipping'">SHIPPING & RETURNS</button>
        </div>

        <div class="border border-gray-nurse-200 min-h-[25vh] p-8" [hidden]="activeTab === undefined">
            <div [hidden]="activeTab !== 'productDetails'">
                {{ product.details }}
            </div>

            <div [hidden]="activeTab !== 'reviews'">
                @if(product.reviews.length === 0){
                <p>No reviews available</p>
                }
                @else {
                @for(review of product.reviews; track review.title){
                <div class="mb-4">
                    <h4 class="text-md font-bold">{{ review.title }}</h4>
                    <h5 class="text-sm font-light text-gray-nurse-300 flex flex-row gap-1 w-fit">
                        {{ review.username }} - {{ review.rating }}

                        <div class="flex flex-row overflow-x-hidden" [style.width]="getRating(review.rating, 16)">
                            <fa-icon [icon]="faStar"></fa-icon>
                            <fa-icon [icon]="faStar"></fa-icon>
                            <fa-icon [icon]="faStar"></fa-icon>
                            <fa-icon [icon]="faStar"></fa-icon>
                            <fa-icon [icon]="faStar"></fa-icon>
                        </div>

                    </h5>
                    <p class="py-4">{{ review.body }}</p>
                </div>
                }
                }



                <hr class="border border-gray-nurse-200 my-4" />

                <form>
                    <h3 class="text-lg">Write a review</h3>

                    <div class="mt-4">
                        <label class="block mb-2 text-sm font-medium text-gray-900">
                            Name
                        </label>
                        <input class="border border-l-gray-nurse-200 w-full p-2">
                    </div>

                    <div class="mt-4">
                        <label class="block mb-2 text-sm font-medium text-gray-900">
                            Email
                        </label>
                        <input class="border border-l-gray-nurse-200 w-full p-2">
                    </div>

                    <div class="mt-4">
                        <label class="block mb-2 text-sm font-medium text-gray-900">
                            Rating
                        </label>

                        <div class=" flex flex-row items-center gap-4 w-fit">
                            <input type="number" min="0" max="5" step="0.1" value="{{currentProductRating}}" class="border border-l-gray-nurse-200 w-14 p-2" (input)="handleRatingChange($event)">
                            <div class="flex flex-row overflow-x-hidden" [style.width]="getRating(currentProductRating, 18)">
                                <fa-icon [icon]="faStar"></fa-icon>
                                <fa-icon [icon]="faStar"></fa-icon>
                                <fa-icon [icon]="faStar"></fa-icon>
                                <fa-icon [icon]="faStar"></fa-icon>
                                <fa-icon [icon]="faStar"></fa-icon>
                            </div>
                        </div>
                    </div>

                    <div class="mt-4">
                        <label class="block mb-2 text-sm font-medium text-gray-900">
                            Review Title
                        </label>
                        <input class="border border-l-gray-nurse-200 w-full p-2">
                    </div>

                    <div class="mt-4">
                        <label class="block mb-2 text-sm font-medium text-gray-900">
                            Body
                        </label>
                        <textarea class="border border-l-gray-nurse-200 w-full h-full p-2"></textarea>
                    </div>
                </form>
            </div>

            <div [hidden]="activeTab !== 'shipping'">

            </div>
        </div>

    </div>
</div>