<nav class="bg-white border-gray-200 fixed top-0 w-full z-30 shadow-lg">
  <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen py-6 px-8">
    <a routerLink="/" class="flex items-center space-x-3" (click)="closeMegaMenu()">
      <img src="../assets/plants-logo.png" class="h-14" alt="Victor Pérez Asuaje Logo" />
    </a>
    <button type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200">
      <span class="sr-only">Open main menu</span>
      <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15" />
      </svg>
    </button>
    <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1">
      <ul class="flex flex-col mt-4 font-medium md:flex-row md:mt-0 md:space-x-8 text-lg">
        <li>
          <button class="flex items-center justify-between w-full py-2 px-3 font-medium text-gray-900 border-b border-gray-100 md:w-auto hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-zuccini-600 md:p-0" (click)="toggleMegaMenu('plants')">
            Plants
          </button>
        </li>
        <li>
          <button class="flex items-center justify-between w-full py-2 px-3 font-medium text-gray-900 border-b border-gray-100 md:w-auto hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-zuccini-600 md:p-0" (click)="toggleMegaMenu('bulbs')">
            Bulbs
          </button>
        </li>
        <li>
          <button class="flex items-center justify-between w-full py-2 px-3 font-medium text-gray-900 border-b border-gray-100 md:w-auto hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-zuccini-600 md:p-0" (click)="toggleMegaMenu('seeds')">
            Seeds
          </button>
        </li>
        <li>
          <button class="flex items-center justify-between w-full py-2 px-3 font-medium text-gray-900 border-b border-gray-100 md:w-auto hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-zuccini-600 md:p-0" (click)="toggleMegaMenu('materials')">
            Materials
          </button>
        </li>
        <li>
          <button class="flex items-center justify-between w-full py-2 px-3 font-medium text-gray-900 border-b border-gray-100 md:w-auto hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-zuccini-600 md:p-0" (click)="toggleMegaMenu('tools')">
            Tools
          </button>
        </li>
        <li>
          <a routerLink="/blog" class="block py-2 px-3 text-gray-900 border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-zuccini-700 md:p-0  ">Blog</a>
        </li>
      </ul>
    </div>
    <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-2 gap-3">
      <a routerLink="/login" class="text-zuccini-700 hover:text-zuccini-800 hover:bg-gray-50 focus:ring-zuccini-300 focus:ring-4 text-lg px-2.5 aspect-square rounded-full my-auto flex items-center justify-center">
        <fa-icon [icon]="faSignIn"></fa-icon>
      </a>
      <button class="relative text-zuccini-700 hover:text-zuccini-800 hover:bg-gray-50 focus:ring-zuccini-300 focus:ring-4 text-lg px-2.5 aspect-square rounded-full my-auto flex items-center justify-center" (click)="openCartMenu()">
        <span class="absolute top-0 right-0 bg-golden-600 text-white h-4 text-xs aspect-square rounded-full">
          {{ this.getCartItems().length }}
        </span>
        <fa-icon [icon]="faCartShopping"></fa-icon>
      </button>
    </div>
  </div>

  @for(menu of this.megaMenus; track menu.name)
  {
  <div class="mt-1 bg-white border-gray-200 border-y" [hidden]="this.activeMegaMenu?.name !== menu.name">
    <ul class="grid max-w-screen-xl px-4 py-5 mx-auto text-gray-900 sm:grid-cols-2 md:grid-cols-3 md:px-6">
      @for(item of menu?.items; track item.title)
      {
      <li>
        <a routerLink="{{ item.url }}" [queryParams]="{ type: menu.name, category: item.title }" class="block p-3 rounded-lg hover:bg-gray-50" (click)="closeMegaMenu()">
          <div class="font-semibold">{{ item.title }}</div>
          <span class="text-sm text-gray-500 ">{{ item.description }}</span>
        </a>
      </li>
      }
    </ul>
  </div>
  }

  <aside class="fixed h-screen w-3/4 md:w-1/2 lg:w-1/3 bg-white shadow-lg top-0 p-8 flex flex-col transition-all ease-in-out duration-200 {{ cartMenuOpen ? 'right-0' : '-right-3/4 md:-right-1/2 lg:-right-1/3' }}">
    <header class="flex flex-row justify-between items-center flex-1 max-h-[10vh]">
      <h3 class="text-lg font-bold">Cart items</h3>

      <button (click)="closeCartMenu()">
        <fa-icon [icon]="faX"></fa-icon>
      </button>
    </header>

    <div class="max-h-[80vh] flex-[9] overflow-y-auto">
      @for(item of this.getCartItems(); track item.id){
      <div class="flex flex-row justify-between gap-4 mb-4">
        <div class="flex flex-row gap-4">
          <button class="my-auto text-[0.5rem] text-rose-600 border-rose-600 border h-4 aspect-square rounded-full font-light" (click)="removeItem(item.id)">
            <fa-icon [icon]="faX"></fa-icon>
          </button>

          <img src="https://source.unsplash.com/random/50x50/?{{item.name}}, {{item.id }}" class="object-cover aspect-square w-[50px]">

          <div>
            <h4>{{ item.name }}</h4>
            <span class="text-gray-nurse-500 text-sm">
              {{ item.price | currency }}
              <span class="mx-2">x</span>
              {{ item.amount }}
            </span>
          </div>
        </div>

        <div class="flex flex-row flex-wrap gap-4 text-right items-center">
          @if(item.hasDiscount){
          <span class="flex items-center bg-rose-600 text-white text-xs rounded-lg font-bold h-6 px-1">
            {{ item.discountApplied * 100 }}% discount
          </span>
          }

          <span class="font-bold">{{ item.totalPrice | currency }}</span>
        </div>
      </div>
      }
    </div>

    <footer class="flex-1 flex flex-row justify-between max-h-[10vh] border-t-2 border-gray-nurse-200 pt-8 items-center">
      <span>Total: </span>
      <span class="font-bold text-lg">{{ this.getTotal() | currency }}</span>
    </footer>
  </aside>
</nav>